<% provide(:title, "Log in") %>
<div id="overlay">
  <div id="login_container">
    <div class="form_title">
      <span>Login</span>
    </div>
    <%= form_for(:session, url: login_path, :html => { :id => "login" }) do |f| %>
      <div id="txt_emailAddress" class="text_input">
        <%= f.label :email, "Email address" %>
        <%= f.email_field :email, :placeholder => "Email address" %>
        <span class="info"></span>
      </div>
      <div id="txt_userPassword" class="text_input">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, :placeholder => "Password" %>
      </div>
      <div id="cbx_rememberMe">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "<span></span>Remember me".html_safe %>
      </div>
      <%= f.submit "Login", class: "raised btn_main" %>
      <%= link_to f.button("Not registered", class: "link"), signup_path %>
    <% end %>
  </div>
</div>