<li id="comment-<%= comment.id %>" class="comment">
    <% user = User.find(comment.user_id) %>
    <%= link_to gravatar_for(user, 40), user %>
    <div class="comment_body">
        <%= link_to user.name, user, { class: "username" } %>
        <%= comment.content %>
    </div>
    <div class="comment_time">Posted <%= time_ago_in_words(comment.created_at) %> ago</div>
    <% if current_user?(user) %>
        <div class="delete_comment_link">
            <button class="delete_comment">delete</button>
            <div class="confirm_delete_comment hidden">
                <span>are you sure? </span>
                <%= link_to "delete", comment, method: :delete, class: "delete_confirm" %> /
                <button class="delete_cancel">cancel</button>
            </div>
        </div>
    <% end %>
    <hr>
</li>