<li id="comment-<%= comment.id %>" class="comment">
    <% user = User.find(comment.user_id) %>
    <%= link_to gravatar_for(user, 40), user %>
    <div class="comment_body">
        <%= link_to user.name, user, { class: "username" } %>
        <%= comment.content %>
    </div>
    <div class="comment_time">Posted <%= time_ago_in_words(comment.created_at) %> ago</div>
    <% if current_user?(user) %>
      <% property = Property.find(@comment.property_id) %>
      <% propertId = comment.id %>
      <% puts comment.id%>
      <%= link_to "delete", comment, :propid => propertId, method: :delete, class: "delete_comment_link" %>
    <% end %>
    
    <hr>
</li>