<% provide(:title, "Edit user") %>
<div id="overlay">
  <div id="form_container">
    <div class="form_title">
      <span>Update Information</span>
    </div>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <div id="txt_username" class="text_input valid">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, :placeholder => "Name" %>
      </div>
      <div id="txt_emailAddress" class="text_input valid">
        <%= f.label :email, "Email address" %>
        <%= f.email_field :email, :placeholder => "Email address" %>
        <span class="info"></span>
      </div>
      <div id="txt_Password" class="text_input">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, :placeholder => "Password" %>
        <span class="info"></span>
      </div>
      <div id="txt_confirmPassword" class="text_input">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, :placeholder => "Confirm password" %>
        <span class="info"></span>
      </div>
      <%= f.submit "Save Changes", class: "raised btn_main" %>
    <% end %>
  </div>
</div>