<% provide(:title, 'Sign up') %>
<div id=bimage>
<div id="overlay">
  <div id="form_container">
    <div class="form_title">Sign up</div>
    <%= form_for(@user, :html => { :id => "register" }) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="text_input username_validator">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, :placeholder => "Name" %>
        <span class="info"></span>
      </div>
      <div class="text_input email_validator">
        <%= f.label :email, "Email address" %>
        <%= f.email_field :email, :placeholder => "Email address" %>
        <span class="info"></span>
      </div>
      <div id="password_new" class="text_input">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, :placeholder => "Password" %>
        <span class="info"></span>
      </div>
      <div id="password_confirm" class="text_input">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, :placeholder => "Confirm password" %>
        <span class="info"></span>
      </div>
    
      <%= f.submit "Create my account", class: "raised main" %>
      <div class="inline"><%= link_to "Already signed up?", login_path, class: "link" %></div>
    <% end %>
    </div>
  </div>
</div>
</div>