<% provide(:title, 'Sign up') %>
<div id="overlay">
  <div id="login_container">
    <div class="form_title">
      <span>Sign up</span>
    </div>
    <%= form_for(@user, :html => { :id => "register" }) do |f| %>
      <%= render 'shared/error_messages' %>
      <div id="txt_username" class="text_input">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, :placeholder => "Name" %>
        <span class="info"></span>
      </div>
      <div id="txt_emailAddress" class="text_input">
        <%= f.label :email, "Email address" %>
        <%= f.email_field :email, :placeholder => "Email address" %>
        <span class="info"></span>
      </div>
      <div id="txt_userPassword" class="text_input">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, :placeholder => "Password" %>
      </div>
      <div id="text_confirmPassword" class="text_input">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, :placeholder => "Confirm password" %>
      </div>
    
      <%= f.submit "Create my account", class: "raised btn_main" %>
    <% end %>
    </div>
  </div>
</div>