<% provide(:title, @title) %>
<% if logged_in? and current_user.admin? %><%= link_to "Add Property", new_property_path%><% end %>
<div class="content">
    <h1><%= @title %></h1>
    
    <%= will_paginate %>
    <ul class="users">
      <%= render @properties %>
    </ul>
    <%= will_paginate %>
</div>