<% provide(:title, 'All properties') %>
<% if logged_in? and current_user.admin? %><%= link_to "Add Property", addproperty_path%><% end %>

<%= will_paginate %>

<div class="prop_list_page">
    
    <div class="propery_list_title">Properties</div>
    
    
    <%= will_paginate %>
    
    <ul class="prop_lists">
      <%= render @properties %>
    </ul>
    
    <%= will_paginate %>

</div>