<% provide(:title, @property.addressLine1) %>
<div id="property_page">
    <div class="box_left">
        <div class="info_box">
            <div class="box_title"><%= @property.addressLine1 %></div>
            <div class="box_content">
                <div class="box_image">
                    <img src=<%= @property.img %> alt="Property Thumbnail"><br>
                </div>
                <div class="property_address">
                    <%= @property.addressLine1 %><br>
                    <%= @property.addressLine2 %><br>
                    <%= @property.town %><br>
                    <%= @property.country %><br>
                    <%= @property.postcode %><br>
                </div>
            </div>
        </div>
        <div class="info_box">
            <div class="box_title">Ratings</div>
            <div class="box_content">
                <div class="reviews_list">
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="info_box right">
        <div class="box_title">Comments</div>
        <div class="comments_list">
            <% if logged_in? %>
                <%= form_for(@comment) do |f| %>
                    <%= render 'shared/error_messages', object: f.object %>
                    <div class="field">
                        <%= f.hidden_field :user_id, :value => @user.id %>
                        <div id="fld_comment" class="text_input">
                            <%= f.label :content, "Name" %>
                            <%= f.text_area :content, placeholder: "Compose new comment..." %>
                            <span class="info"></span>
                        </div>
                        <%= f.submit "Post", class: "btn-primary" %>
                    </div>
                <% end %>
            <% end %>
            <% if @property.comments.any? %>
                <h3>Comments (<%= @property.comments.count %>)</h3>
                <ol>
                    <%= render @comments %>
                </ol>
                <%= will_paginate @comments %>
            <% end %>
        </div>
    </div>
</div>
