<% provide(:title, 'Property') %>
<h1>Property</h1>
<p>
<img src = <%= @property.img %> alt="Property Thumbnail" style="width: 300px; height:300px"><br>
<%= @property.addressLine1 %><br>
<%= @property.addressLine2 %><br>
<%= @property.town %><br>
<%= @property.country %><br>
<%= @property.postcode %><br>
</p>

<% if logged_in? %>
  <%= form_for(@comment) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.hidden_field :user_id, :value => 1 %>
      <%= f.text_area :content, placeholder: "Compose new comment..." %>
    </div>
    <%= f.submit "Comment", class: "btn btn-main" %>
  <% end %>
<% end %>


<% if @property.comments.any? %>
    <h3>Comments (<%= @property.comments.count %>)</h3>
    <ol>
        <%= render @comments %>
    </ol>
    <%= will_paginate @comments %>
<% end %>
