<% provide(:title, @property.addressLine1) %>
<div class="center_box">
    <div class="col">
        <div class="info_box">
            <div class="box_title main"><%= @property.addressLine1 %></div>
            <div class="box_content">
                <% if not @property.img.blank? %>
                    <div class="box_image">
                        <img src="<%= @property.img %>" alt="Property Thumbnail">
                    </div>
                <% end %>
                <div class="property_address">
                    <%= @property.addressLine1 %><br>
                    <%= @property.addressLine2 %><br>
                    <%= @property.town %><br>
                    <%= @property.county %><br>
                    <%= @property.postcode %><br>
                    <% rating = average_rating(@property) %>
                    <% if rating >= 0 %>
                        <hr>
                        <div class="rating">Average rating: <span><%= rating %></span></div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="info_box">
            <div class="box_title">Reviews (<%= @reviews.count %>)</div>
            <% if @reviews.any? %>
                <ol class="reviews_list">
                    <%= render @reviews %>
                </ol>
                <%= will_paginate @reviews, param_name: 'reviews_page' %>
            <% end %>
            <% if logged_in? %>
                <%= link_to "Add a review", new_review_url(id: @property.id), { class: "comment_login link" } %>
            <% end %>
        </div>
    </div><!-- removing the white space between these two divs
 --><div class="col">
        <div class="info_box">
            <div class="box_title">Comments (<%= @comments.count %>)</div>
                <% if logged_in? %>
                    <button class="comment_login link">Write a comment</button>
                    <%= form_for(@comment, html: { class: "comment_form hidden" }) do |f| %>
                        <%= render 'shared/error_messages', object: f.object %>
                        <div class="field">
                            <%= f.hidden_field :user_id, :value     => @user.id %>
                            <%= f.hidden_field :property_id, :value => @property.id %>
                            <div id="fld_comment">
                                <%= f.label :content, "Write a comment:" %>
                                <%= f.text_area :content, placeholder: "Comment", rows: 6 %>
                                <span class="info"></span>
                            </div>
                            <%= f.submit "Post", class: "raised" %>
                            <button class="raised cancel">Cancel</button>
                        </div>
                    <% end %>
                <% else %>
                    <%= link_to "Login to write a comment", login_url, class: "comment_login link" %>
                <% end %>
                <% if @comments.any? %>
                    <ol class="comments_list">
                        <%= render @comments %>
                    </ol>
                    <%= will_paginate @comments, param_name: 'comments_page' %>
                <% end %>
            </div>
        </div>
    </div>
</div>
