<% provide(:title, 'Property') %>
<h1>Property</h1>

<p>
<%= @property.addressLine1 %><br>
<%= @property.addressLine2 %><br>
<%= @property.town %><br>
<%= @property.country %><br>
<%= @property.postcode %><br>
</p>