<% provide(:title, @property.addressLine1) %>
<div id="property_page">
    <div class="box_left">
        <div class="info_box">
            <div class="box_title"><%= @property.addressLine1 %></div>
            <div class="box_content">
                <div class="box_image">
                    <img src=<%= @property.img %> alt="Property Thumbnail"><br>
                </div>
                <div class="property_address">
                    <%= @property.addressLine1 %><br>
                    <%= @property.addressLine2 %><br>
                    <%= @property.town %><br>
                    <%= @property.country %><br>
                    <%= @property.postcode %><br>
                </div>
            </div>
        </div>
        <div class="info_box">
            <div class="box_title">Ratings</div>
            <div class="box_content">
                <div class="reviews_list">
                    <!-- user name and img -->
                    <div class="fake_rating">
                        <div class="rating_user">
                            <%= (gravatar_for current_user, 60) %>
                            <div class="rating_user_name">John Smith</div>
                        </div>
                        <div class="star_ratings">
                            <div class="star_overall">
                                <div class="star_title">
                                    Overall:
                                </div>
                                <div class="star_stars">
                                    <%= image_tag("star/filled.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/filled.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/filled.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/half.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/empty.png", alt: "Logo for BedMe") %>
                                </div>
                            </div>
                            <div class="star_overall">
                                <div class="star_title">
                                    Cleanliness:
                                </div>
                                <div class="star_stars">
                                    <%= image_tag("star/filled.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/filled.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/empty.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/empty.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/empty.png", alt: "Logo for BedMe") %>
                                </div>
                            </div>
                            <div class="star_overall">
                                <div class="star_title">
                                    Cost of living:
                                </div>
                                <div class="star_stars">
                                    <%= image_tag("star/filled.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/filled.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/half.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/empty.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/empty.png", alt: "Logo for BedMe") %>
                                </div>
                            </div>
                            <div class="star_overall">
                                <div class="star_title">
                                    Quality of area:
                                </div>
                                <div class="star_stars">
                                    <%= image_tag("star/filled.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/filled.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/filled.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/filled.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/half.png", alt: "Logo for BedMe") %>
                                </div>
                            </div>
                            <div class="star_overall">
                                <div class="star_title">
                                    Landlord:
                                </div>
                                <div class="star_stars">
                                    <%= image_tag("star/filled.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/filled.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/filled.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/filled.png", alt: "Logo for BedMe") %>
                                    <%= image_tag("star/empty.png", alt: "Logo for BedMe") %>
                                </div>
                            </div>
                        </div>
                        <div class="rating_bio">
                            <div class="rating_bio_title">
                                "Good but could have been better."
                            </div>
                            <div class="rating_bio_content">
                                The landlord was really proactive through-out the duration of the year we spent there. Saying that the house had a damp problem in some of the downstairs room. The bills were a little on the pricey side through this is to be expected for a 2 bedroom.
                            </div>
                        </div>
                    </div>
                    <!-- end of test-->
                </div>
            </div>
        </div>
    </div>
    

    <div class="info_box right">
        <div class="box_title">Comments</div>
            <% if logged_in? %>
                <button class="comment_login link">Write a comment</button>
                <%= form_for(@comment, html: { class: "comment_form" }) do |f| %>
                    <%= render 'shared/error_messages', object: f.object %>
                    <div class="field hidden">
                        <%= f.hidden_field :user_id, :value => @user.id %>
                        <div id="fld_comment" class="text_input">
                            <%= f.label :content, "Name" %>
                            <%= f.hidden_field :user_id,         :value => @user.id %>
                            <%= f.text_area :content, placeholder: "Comment" %>
                            <%= f.hidden_field :property_id,     :value => @property.id %>
                            <span class="info"></span>
                        </div>
                        <%= f.submit "Comment", class: "raised" %>
                        <button class="raised cancel">Cancel</button>
                    </div>
                    <br>
                <% end %>

            <% else %>
                <div class="comment_login"><%= link_to "Login to write a comment", login_url, class: "link" %></div>

            <% end %>
            
            <div class="comments_list">
            <% if @property.comments.any? %>
                <h3>Comments (<%= @property.comments.count %>)</h3>
                <ol>
                    <%= render @comments %>
                </ol>
                <%= will_paginate @comments %>
            <% end %>
            </div>
        </div>
    </div>
</div>
