<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <% @user = User.find(current_user) %>
    <%= hidden_field_tag :user_id, @user.id %>
    <%= f.text_area :content, placeholder: "Compose new comment..." %>
  </div>
  <%= f.submit "Comment", class: "btn btn-main" %>
<% end %>