<li id="review-<%= review.id %>" class="review">
    <% user = User.find(review.user_id) %>
    <h2><%= review.reviewTitle %></h2>
    <%= link_to gravatar_for(user, 40), user %>
    <div class="review_body">
        <%= link_to user.name, user, { class: "username" } %>
        <%= review.reviewText %>
    </div>
    <div class="ratings">
        <div class="rating bold">Overall: <span></span><%= rating_overall(review)%></div>
        <div class="rating">Area: <span><%= review.rating_area%></span></div>
        <div class="rating">Cost: <span><%= review.rating_cost%></span></div>
        <div class="rating">Landlord: <span><%= review.rating_landlord%></span></div>
        <div class="rating">Cleanliness: <span><%= review.rating_cleanliness%></span></div>
    </div>
    <div class="review_time">Posted <%= time_ago_in_words(review.created_at) %> ago</div>
    <% if current_user?(user) or current_user.admin?%>
        <div class="delete_review_link">
            <button class="delete_review">delete</button>
            <div class="confirm_delete_review hidden">
                <span>are you sure? </span>
                <%= link_to "delete", review, method: :delete, class: "delete_confirm" %> /
                <button class="delete_cancel">cancel</button>
            </div>
        </div>
    <% end %>
    <hr>
</li>