<header>
  <span id="brand">
    <%= link_to image_tag("logoType.png", class: "logo", alt: "Logo for BedMe").html_safe, root_path %>
  </span>
  
  <span>
    
    <% if logged_in? %> <%= link_to '<span id="profile">'.html_safe + (gravatar_for @user) + '<div>'.html_safe +  @user.name + '</div></span>'.html_safe, current_user %> <% end %>
      
    <span id="links_box">
      <% if logged_in? %>
        <%= link_to "Settings", '#' %> 
        <%= link_to "Log out", logout_path, method: "delete" %>
      <% else %>
        <%= link_to "Login", login_path %>
        <%= link_to "Register", signup_path %>
        <%= link_to "About", about_path %>
      <% end %>
    </span>
    
    <span id="right">
      <div id="dropdown">
        <div><%= link_to image_tag("drop_down.png", class: "logo", alt: "Drop Down Box"), '#' %></div>
        <div id="dropdown-content">
          <% if logged_in? %>
            <div id="link_text"><%= link_to "Settings", '#' %></div>
            <div id="link_text"><%= link_to "Log out", logout_path, method: "delete" %></div>
          <% else %>
            <div id="link_text"><%= link_to "Login", login_path %></div> 
            <div id="link_text"><%= link_to "Register", signup_path %></div> 
            <div id="link_text"><%= link_to "About", about_path %></div>
          <% end %>
        </div>
      </div>
    </span>
  </span>
</header>