<header>
  <span class="search">
    <%= render 'layouts/searchbox' %>
  </span>
  
  <div class="header_logo">
    <%= link_to image_tag("logoType.png", alt: "Logo for BedMe"), root_path %>
  </div>
  
  <nav>
    <span class="dropdown_button<% if logged_in? %> logged_in<% end %>">
      <% if logged_in? %> 
        <span class="profile"><%= (gravatar_for current_user, 30) %><span class="username"><%= current_user.name %></span></span>
      <% else %>
        <%= image_tag("more.png", alt: "Drop Down Box") %>
      <% end %>
    </span>
    <ul>
      <% if logged_in? %>
        <% if current_user.admin? %>
          <li><%= link_to "Properties", properties_path %></li>
          <li><%= link_to "Users", users_path %></li>
        <% end %>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Register", register_path %></li>
        <li><%= link_to "About", about_path %></li>
      <% end %>
    </ul>
  </nav>
</header>