<header>
  <span id="brand">
    <%= link_to image_tag("logo.png", class: "logo", alt: "Logo for BedMe") + '<span id="brand_name">BedMe</span>'.html_safe, root_path %>
  </span>
  <span id="links_box">
    <% if logged_in? %>
      <%= link_to "Profile", current_user %>
      <%= link_to "Settings", edit_user_path(current_user) %>
      <%= link_to "Log out", logout_path, method: "delete" %>
    <% else %>
      <%= link_to "Login", login_path %>
      <%= link_to "Register", signup_path %>
      <%= link_to "About", about_path %>
    <% end %>
  </span>
</header>